<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="form-container">

    <h2>🔑 Reset Password</h2>

    <form method="POST">

        <label>Email</label>
        <input type="email"
               name="email"
               required>

        <label>New Password</label>
        <input type="password"
               name="password"
               required>

        <button type="submit" class="btn">
            Reset Password
        </button>

    </form>

    <p>
        <a href="/login">⬅ Back to Login</a>
    </p>

</div>

</body>
</html>
